    @import url(&#39;https://themes.googleusercontent.com/fonts/css?kit=wAPX1HepqA24RkYW1AuHYA&#39;);
ol{margin:0;padding:0}
p{margin:0}
.c32{vertical-align:top;width:74.2pt;border-style:solid;border-color:#000000;border-width:1pt;padding:5pt 5pt 5pt 5pt}
.c22{vertical-align:top;width:68.2pt;border-style:solid;border-color:#000000;border-width:1pt;padding:5pt 5pt 5pt 5pt}
.c17{vertical-align:top;width:270.8pt;border-style:solid;border-color:#000000;border-width:1pt;padding:5pt 5pt 5pt 5pt}
.c7{vertical-align:top;width:55.5pt;border-style:solid;border-color:#000000;border-width:1pt;padding:5pt 5pt 5pt 5pt}
.c16{vertical-align:top;width:351.8pt;border-style:solid;border-color:#000000;border-width:1pt;padding:5pt 5pt 5pt 5pt}
.c15{vertical-align:top;width:67.5pt;border-style:solid;border-color:#000000;border-width:1pt;padding:5pt 5pt 5pt 5pt}
.c28{vertical-align:top;width:48pt;border-style:solid;border-color:#000000;border-width:1pt;padding:5pt 5pt 5pt 5pt}
.c33{color:#1c4587;font-size:48pt;font-family:Georgia}
.c12{color:#5b0f00;font-size:48pt;font-family:Georgia}
.c2{color:#111111;background-color:#ffffff;font-weight:bold}
.c20{width:468pt;background-color:#ffffff;padding:72pt 72pt 72pt 72pt}
.c0{color:#000099;text-decoration:underline}
.c27{color:#111111;background-color:#ffffff}
.c23{margin:5px;border:1px solid black}
.c6{color:inherit;text-decoration:inherit}
.c3{height:11pt;direction:ltr}
.c31{padding-bottom:10pt}
.c18{margin-left:54pt}
.c13{font-size:24pt}
.c19{margin-left:36pt}
.c24{text-align:justify}
.c14{text-align:center}
.c21{height:24pt}
.c8{margin-left:18pt}
.c4{font-weight:bold}
.c26{font-size:14pt}
.c29{color:#6aa84f}
.c9{text-align:right}
.c11{line-height:1.0}
.c1{font-family:Calibri}
.c25{border-collapse:collapse}
.c5{direction:ltr}
.c10{background-color:#ffff00}
.c30{font-style:italic}
body{color:#000000;font-size:11pt;font-family:Arial}
h1{padding-top:24pt;color:#000000;font-size:24pt;font-family:Arial;font-weight:bold;padding-bottom:6pt}
h2{padding-top:18pt;color:#000000;font-size:18pt;font-family:Arial;font-weight:bold;padding-bottom:4pt}
h3{padding-top:14pt;color:#000000;font-size:14pt;font-family:Arial;font-weight:bold;padding-bottom:4pt}
h4{padding-top:12pt;color:#000000;font-size:12pt;font-family:Arial;font-weight:bold;padding-bottom:2pt}
h5{padding-top:11pt;color:#000000;font-size:11pt;font-family:Arial;font-weight:bold;padding-bottom:2pt}
h6{padding-top:10pt;color:#000000;font-size:10pt;font-family:Arial;font-weight:bold;padding-bottom:2pt}
