.c2{color:#111111;background-color:#ffffff;font-weight:bold}
.c20{width:468pt;background-color:#ffffff;padding:72pt 72pt 72pt 72pt}
.c0{color:#000099;text-decoration:underline}
.c27{color:#111111;background-color:#ffffff}
.c23{margin:5px;border:1px solid black}

.c18{margin-left:54pt}
.c13{font-size:24pt}
.c19{margin-left:36pt}
.c24{text-align:justify}
.c14{text-align:center}
.c21{height:24pt}
.c8{margin-left:18pt}
.c4{font-weight:bold}
.c26{font-size:14pt}
.c29{color:#6aa84f}
.c9{text-align:right}
.c25{border-collapse:collapse}
.c30{font-style:italic}

/*

.c11{line-height:1.0}
*/
