.titlepage {
    page-break-after:always;
}
.subtitles, h1 {
    font-weight: bold;
    font-size:24pt;
    font-family: Cambria, Georgia, Serif;
    text-align: center;
}

h1 { font-size: 30pt; color: #258;}

.authorsbox {text-align:right;}

.highlight {background-color:#ffff00}

table.stakeholders {
    border-collapse:collapse;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
table.stakeholders tr {
    border-top: 1px solid #333;
}
