.titlepage {
    page-break-after: always;
}
.subtitles, h1 {
    font-weight: bold;
    font-size: 24pt;
    font-family: Cambria, Georgia, Serif;
    text-align: center;
}

h1 {
    font-size: 30pt;
    color: #258;
}

.authorsbox {
    text-align: right;
}

.highlight {
    background-color: #ffff00;
}
.centered {
    text-align:center;
}

table.stakeholders {
    border-collapse: collapse;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
table.stakeholders tr {
    border-top: 1px solid #333;
}

table {
    hyphens: manual;
    -moz-hyphens: manual;
    -webkit-hyphens: manual;
    text-align:left;
}
th {
    padding:0.1em 0.5em;
}
dt {font-weight:bold; float:left; clear:left; padding-right:1em;}

.rightbox {float:right;}

/* page layout styling */
/* TODO: print style sheet */
body {
    padding: 0;
    margin: 0;
    background: #ddd;
}

.margincontainer {
    max-width: 21cm;
    background: white;
    margin: 0 auto;
    box-shadow: 0 0 1.5cm rgba(0,0,0,0.5);
}
.textcontainer {
    padding-top: 4cm;
    text-align: justify;
    max-width: 12.42cm;
    margin: 0 auto;
    text-align: justify;
    font-family: "Palatino Linotype" ,Constantia, "Minion Pro" , "Hoefler Text" ,Gentium, "Gentium Basic" , Georgia, serif;
    font-size: 10pt;
    hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
}

