.titlepage {
    page-break-after: always;
}
.subtitles, h1 {
    font-weight: bold;
    font-size: 24pt;
    font-family: Cambria, Georgia, Serif;
    text-align: center;
}

h1 {
    font-size: 30pt;
    color: #258;
}
.rightbox {float:right;}

.authorsbox {
    margin:2cm 0.5cm;
    text-align: right;
}

.highlight {
    background-color: #ffff00;
}
.centered {
    text-align:center;
}


/* Nice table border styling */

table.bookstyleborders {
    border-collapse: collapse;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
table.bookstyleborders tr {
    border-top: 1px solid #333;
}

/* Basic Table layouts */
table {
    hyphens: manual;
    -moz-hyphens: manual;
    -webkit-hyphens: manual;
    text-align:left;
}
th {
    padding:0.1em 0.5em;
}


/* Definition lists */
dt {font-weight:bold; float:left; clear:left;}
dd {margin-left:1em;}
dd:before {content:'\A0'; padding-left:0.2em;}
td > dl {margin:0;}

/* Basic Paragraph styling */
p { margin: 0.5em 0; clear: left; }
h1 { clear:left; }
p + p { text-indent: 1.5em; }


/* page layout styling */
/* TODO: print style sheet */
body {
    padding: 0;
    margin: 0;
    background: #ddd;
}

.margincontainer {
    max-width: 21cm;
    background: white;
    margin: 0 auto;
    box-shadow: 0 0 1.5cm rgba(0,0,0,0.5);
}
.textcontainer {
    padding-top: 4cm;
    padding-bottom: 1cm;
    text-align: justify;
    max-width: 12.42cm;
    margin: 0 auto;
    text-align: justify;
    font-family:    "Gentium Book Basic", Gentium, "Gentium Basic", "Palatino Linotype", "Hoefler Text", Constantia,"Minion Pro",  Georgia, serif;
    font-size: 10pt;
    hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
}

